.navbar {
    padding: 1% 20% 1% 10%;
    background-color: #1a1b1f;
}

.nav-link {
    color: white;
    margin-left: 10%;
    text-decoration: none;
}

.nav-link:hover {
    color: #FE0451;
}

.nav-link:focus {
    color: #ffffff;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: rgb(238, 238, 238);
}

.navbar-nav {
    margin-left: 60%;
}

.navbar-nav .nav-link.active {
    color: #FE0451;
}

a {
    text-decoration: none;
}